{% extends "base.html" %}
{% block content %}
<p
  class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left"
  style="
    padding: 0;
    margin: 0;
    font-family: 'Cereal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #484848;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 0px !important;
  "
>
  {% load i18n %}{% autoescape off %} {% blocktrans %}
      {{ notification }}


  &nbsp; &nbsp; {% endblocktrans %}
</p>

<p align="center">
  <a
    target="_blank"
    style="
      text-decoration: none;
      background-color: black;
      border: black 1px solid;
      color: #fff;
      padding: 10px 10px;
      display: block;
    "
    href="{{ website }}"
  >
    <strong>Click here to got to link</strong>
  </a>
</p>
<p
  class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left"
  style="
    padding: 0;
    margin: 0;
    font-family: 'Cereal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #484848;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 0px !important;
  "
>
  {%endautoescape %}
</p>


{% endblock %}
